[Desktop Entry]
Type=Application
Name=FastTrack
Comment=Fast tracking of multiple objects
Exec=FastTrack
Icon=icon
Categories=Science;Qt;
X-AppImage-Version=
