[Desktop Entry]
Version=1.0
Type=Application

Name=FastTrack
Comment=Fast tracking of multiple objects
Categories=Science;ImageProcessing;

Icon=fasttrack
Exec=FastTrack
Terminal=false
