[Desktop Entry]
Version=1.0
Type=Application

Name=FastTrack-cli
Comment=Multiple objects tracking software, easy to use, and performant.
Categories=Science;ImageProcessing;

Icon=fasttrack
Exec=fasttrack-cli
Terminal=true
